@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
.App {
  text-align: center;
  background-color: #8bbef0;
}
.Head{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
  color: whitesmoke;
  border-bottom:2px solid #8bbef0;
  box-shadow: 20px 20px 50px 10px rgb(228, 151, 235) inset;
  position: sticky;
  top: 0;
  background-color: rgb(115, 227, 209);
}
.citytextbox{
  height: 5vh;
  width: 80vw;
  font-size: 1.2rem;
  font-family: 'Arvo', serif;
  text-align: center;
}
.suggestion{
  background-color: white;
  width: 75vw;
  color: black;
  height:5vh;
  border-bottom: 1px solid rgb(128, 215, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arvo', serif;
  border: 1px solid rgb(195, 244, 237);
}
.suggestion:hover{
  color: #93afeb;
  cursor: pointer;
}
.cityoptionwrapper{
  height: 30vh;
  font-size: 1.2rem;
  overflow-y: scroll;
}
.App_body {
  margin-top: 0px;
  background-color: #c7d3ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dds{
  border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.buttn{
  border-radius: 20px;
  background-color: #93afeb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(244, 238, 52);
}