@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
.current{
    background-color: rgb(180, 214, 232);
    color: black;
    width: 100vw;
    font-family: 'Crimson Text', serif;
    margin: 0vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.currentBody{
    margin: 0vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
}
span.sp{
    content: "\00B0";
}
@media screen and (max-width: 480px) {
    .current{
        font-size: 15px;
    }
  }